*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
p {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}
